{% extends 'base.html' %}

{% block title %}
Bienvenido
{% endblock %}

{% block content %}
    <div class="hero">
        <div class="hero-content">
            <div class="left">
                <h1>Sing language Interpreter</h1>
                <p>Los conceptos (del latín conceptus1​) «son las unidades más básicas de toda forma de conocimiento humano»;2​ por medio de las cuales
                     comprendemos las experiencias. Son captaciones de la realidad (realismo) o, por contrario, construcciones o autoproyecciones mentales 
                     (constructivismo o idealismo), que surgen por medio de la abstracción de las esencias inteligibles o por la integración en clases o categorías, que a
                     grupan nuestros nuevos conocimientos y nuestras nuevas experiencias con los conocimientos y experiencias almacenados en la memoria.3​
                    Se considera una unidad cognitiva de significado; un contenido mental que a veces se define como una «unidad del conocimiento».</p>
                <div class="con">
                    <a href="#install" class="btn-bar">Install</a>
                    <h1 class="hcontent">v1.2.10</h1>
                </div>
                
            </div>
           
        </div>
        
    </div>
    {% include 'footer.html' %}
{% endblock %}


